/*************/
/*-- Header--*/
/*************/
header
{
    width: 100%;
    height: 144px;
}
header #divhead 
{
    padding-top: 10px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 20px;
    background-color: #E9F1F1;
}
header #siteBar
{
    text-align: center;
}
header .siteBarEle
{
    text-align: center;
}
header #searchBar
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;

}
header .searchBarEle
{
    position: relative;
    display: inline-block;
}

header h2
{
    font-family: Times, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 40px;
}
/****************
-- Body Global--*
*****************/
body
{
    margin: 0px 0px 0px 0px;
    font-family: myFirstFont;
    background-color: #FFFFFF;
    
}

#panelPrincipal
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #E9F1F1; 
    
}

/* Partie de Presentation*/
#projetPresentation
{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 90px;
    padding-bottom: 30px;
    
}
#projetPresentation h2
{
    font-weight: lighter;
    margin-right: 0px;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}


/**********************
1: presentation : Top 3
**********************/
 
#secTop3 #divPicTop3
{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;

}

#secTop3 #divPicTop3 .picTop
{
    width: 350px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;
}

#secTop3 #divPicTop3 .picTop img
{
    width: 350px;
    height: 90px;
    border-radius: 15px;
}

#secTop3 #divPicTop3 .picTop img:hover
{
    transition: all 0.40s;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.80);
 
}


/*************************
2: presentation : Semestre
*************************/

#secSem
{
    padding-top: 20px;
    text-align: center;
    background-color: #D8D8D8;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.50);
    padding-bottom: 50px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
#secSem .blockSem
{
    display: flex;
    position: relative;
    display: block;
    max-height: 483px;
    max-width: 277px;
    margin-left: 20%;
    margin-right: 20%;
}

#secSem #divSem .picSem
{
    position: relative;
    width: 200.29px;
    height: 307.51px;
    margin-top: 29px;
    margin-left: 67px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.50);
    z-index: 20;
    border-radius: 10px;
}
#secSem #divSem #picSem01
{
    background-color: #20FDA7;
}
#secSem #divSem #picSem02
{
    background-color: #FC2F20;
}
#secSem #divSem #picSem03
{
    background-color: #24BAD3;
}
#secSem #divSem #picSem04
{
    background-color: #F2EB2F;
}
#secSem #divSem .numSem
{
    position: absolute;
    font-size: 144px;
    color: white;
    opacity: 0.5;
    font-weight: bold;
    margin-top: 0px;
    z-index: 50;
}
.toutSem
{
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    position: absolute;
    font-size: 10px;
    margin-top: 295px;
    margin-left: 83px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
    text-align: left;
    z-index: 50;
    letter-spacing: 2px;
}

#secSem #divSem #toutSemTout{
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    font-size: 10px;
    font-weight: normal;
    z-index: 50;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 8px;
    cursor: pointer;
}
#secSem #divSem .blockSem:hover
{
    transition: all 0.2s;
    background-color: #2DC3C3;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.80); 
}
#secSem #divSem #toutSemTout:hover
{
    transition: all 0.2s;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.80); 
}
#secSem #divSem .sujetSem
{
    font-family: Arial;
    position: absolute;
    font-size: 24px;
    color: white;
    margin-top: 156px;
    margin-left: 85px;
    font-weight: normal;
    text-align: left;
    z-index: 50;
}
#secSem #divSem .toutSem:hover
{
    transition: all 0.40s;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.80);
}

/**************************
3: presentation : Selection
***************************/

#secSelect
{
    padding-top: 25px;
    text-align: center;
    overflow-y: hidden;
    z-index: 1;
    padding-bottom: 120px;
}
#secSelect h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 13px;
}
#secSelect .feature h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 5px;
}
#secSelect .blockSelect
{
    display: inline-block;
}
#secSelect .feature {
    transition: box-shadow 0.15s 0.05s;
    border-radius: 10px;
    background: white;
    width: 330px;
    margin: 25px 10px 25px 10px;
    padding: 15px 15px auto 15px;
    color: black;
    text-align: center;
    height: 300px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.19);
    cursor: pointer;
}
#secSelect .feature img {
    border-radius: 10px 10px 0 0;
    width: 330px;
}

#secSelect .feature p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px
}


#secSelect .feature:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.4);
}

footer 
{
    background-color: white;
    height: 200px;
    text-align: center;
}

footer #TOP{
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    font-size: 10px;
    font-weight: normal;
    z-index: 50;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 8px;

    cursor: pointer;
    text-align: center;
}

footer #TOP:hover
{
    transition: all 0.2s;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.80); 
}  